<footer class="footer navbar-fixed-bottom">
  <div class="text">
    (주)쇼미더앱스 | 서울특별시 강남구 역삼로 215 남국빌딩 2층 쇼미더앱스 | 
    <%= link_to '이용약관', page_term_path %> | 
    <%= link_to '개인정보처리방침', page_privacy_path %>
    </br>contact@showmetheapps.co
  </div>
</footer>