<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">H O M E</a>
  <a href="#">U P L O A D</a>
  <a href="#">P R O F I L E</a>
  <a href="#">L O G  O U T</a>
</div>
<header class="container">
  <div class="navbar navbar-fixed-top navbar-default">
    <%= link_to image_tag('/assets/header/logo.svg', class: 'logo vertical-center', size: '106x38'), root_path %>
    <%= image_tag '/assets/header/menu_icon.svg', class: 'menu vertical-center', size: '27x27', onClick: 'openNav()'%>
  </div>
</header>


<script type="text/javascript">
  function openNav() {
    $("#mySidenav").css('width', '470px');
  }

  function closeNav() {
    $("#mySidenav").css('width', 0);
  }
</script>