<div class="landing-phone">

  <div class="title">
    <div class="text-area">
      <div class="text">쇼미더앱스를</br> 직접 체험해보세요!</div>
      <div class="sub-text">스크린샷의 이미지정보를 텍스트화하여</br> 검색 및 터치가 가능합니다.</div>
    </div>
  </div>

  <div class="upload"> 
    <div class="text">지금 당신의 스크린샷을</br>올려주세요</div>
    <%= image_tag asset_path('landing/logo_mobile.svg'), class: 'logo' %>
    <div class="click-text">CLICK !</div>
  </div>

</div>