<div class="reset-pw">
  <div class="title">비밀번호 재설정</div>
  <div class="sub-title">가입하신 이메일 주소를 입력해주시면 비밀번호 재설정 메일을 발송해 드립니다.</div>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, id: 'reset-form') do |f| %>

    <div class="inputs">
      <%= f.input :email, required: true, autofocus: true, placeholder: 'you@domain.com', label: false %>

      <% unless resource.errors.empty? %>
        <div class="not-found-error">이메일을 찾을수 없습니다.</div>
      <% end %>
<!--  < flash.each do |key, value| %>

      < end %> -->
      <!-- <div class="email-error"></div> -->
    </div>
    <div class="email-error" style="display:none;">이메일을 찾을수 없습니다.</div>

    <div class="actions">
      <%= f.button :submit, "비밀번호 재설정", class: 'submit' %>
    </div>
  <% end %>

</div>