@import "bootstrap";

.footer {
  position: fixed;
  bottom: 0px;
  height: 40px;
  background-color: #407abd;
  .text {
    height: 30px;
    margin-top: 6px;
    opacity: 0.6;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
  }
  a, a:hover, a:link, a:visited {
    color: #ffffff;
  }
}