@import "bootstrap";
/*header*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  header {
    .logo {
      margin-left: 30px;
      width: 67px;
      height: 24px;
    }
    .menu {
      margin-right: 30px;
    }
  }
}   /*(min-width: 321px) and (max-width: 480px)*/
@media screen and (min-width: 768px) { 
  header {
    .logo {
      margin-left: 53px;
    }
    .menu {
      margin-right: 50px;
    }
  }
}
@media screen and (min-width: 1024px) { 
  header {
    .container {
      width: 74%;
      /*width: 100%;*/
    }
    .logo {
      margin-left: -15px;
      /*margin-left: 130px;*/
    }
    .menu {
      /*margin-right: 130px;*/
      margin-right: -15px;
    }
  }
} /*(min-width: 1281px) and (max-width: 1440px)*/
@media screen and (min-width: 1439px) { 
  header {
    .container {
      width: 100%;
      padding:0px;
    }
    .logo {
      margin-left: 220px;
    }
    .menu {
      margin-right: 220px;
    }
  }
}

header {
  top: 0; left: 0; right: 0;
  margin-top: auto;
  margin-left: auto; margin-right: auto;
  width: 100%;
  height: 60px;

  .navbar {
    background-color: #FFFFFF;
    border-bottom: solid 1.5px #407abd;
  }

  .logo {
    float: left;
  }

  .menu {
    float: right;
    &:hover {
      cursor: pointer;
    }
  }

  .vertical-center {
    height: 60px;
    line-height: 100%;
    vertical-align: middle;
  }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.7;
}

.sidenav a {
    text-decoration: none;
    /*font-family: AppleSDGothicNeo;*/
    margin-top: 32px;
    margin-left: 70px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    width: 27px;
    height: 27px;
    right: 80px;
    margin-top: 25px;
    object-fit: contain;
}